.imgLandscape{
    border-radius: 50%;
    max-width: 80%;
    margin: auto;
    display: block
}

.imgPortrait {
    border-radius: 50%;
    /* max-height: 45%; */
    margin: auto;
    display: block
}

.containerSize {
    max-height: auto;
    max-width: 850px;
}

/* .bkGrnImg {
    background-image: url(/LampsAndSpringerSite/siteImages/lampsAndSpringerContact.jpg);
    background-size: 500px;
    width:500px;
    height: auto;
    margin: auto;
    display: block;
} */